intranet/LadoCliente/intranetMVC/Service References/WCFCliente/WCFIntranet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17476/WCFIntranet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/intranet.entity" />
  <xs:element name="AlumnoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="AlumnoListarResult" nillable="true" type="q1:ArrayOfAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoAdicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="emp" nillable="true" type="q2:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoAdicionarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="emp" nillable="true" type="q3:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoBuscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlumnoBuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="AlumnoBuscarResult" nillable="true" type="q4:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalaBuscarPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="pro" nillable="true" type="q5:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalaBuscarPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="SalaBuscarPorNombreResult" nillable="true" type="q6:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CursoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CursoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="CursoListarResult" nillable="true" type="q7:ArrayOfCurso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SedesListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SedesListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="SedesListarResult" nillable="true" type="q8:ArrayOfSede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SedeAdicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="sed" nillable="true" type="q9:Sede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SedeAdicionarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SedeActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="sed" nillable="true" type="q10:Sede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SedeActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SedeEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SedeEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SedeBuscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SedeBuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="SedeBuscarResult" nillable="true" type="q11:Sede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsistenciaAdicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="emp" nillable="true" type="q12:Asistencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsistenciaAdicionarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="ParticipanteListarResult" nillable="true" type="q13:ArrayOfParticipante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteAdicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="emp" nillable="true" type="q14:Participante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteAdicionarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="emp" nillable="true" type="q15:Participante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteBuscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParticipanteBuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="ParticipanteBuscarResult" nillable="true" type="q16:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validarusuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/intranet.entity" minOccurs="0" name="u" nillable="true" type="q17:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarusuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarusuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>