intranet/LadoCliente/intranetMVC/Service References/WCFCliente/WCFIntranet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFIntranet" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17476/WCFIntranet.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17476/WCFIntranet.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17476/WCFIntranet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/intranet.entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFIntranet_AlumnoListar_InputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoListar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoAdicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoAdicionar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoAdicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoAdicionarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoActualizar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoEliminar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoBuscar_InputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoBuscar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AlumnoBuscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlumnoBuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_CursoListar_InputMessage">
    <wsdl:part name="parameters" element="tns:CursoListar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_CursoListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CursoListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedesListar_InputMessage">
    <wsdl:part name="parameters" element="tns:SedesListar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedesListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SedesListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedeAdicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:SedeAdicionar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedeAdicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SedeAdicionarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedeActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:SedeActualizar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedeActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SedeActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedeEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:SedeEliminar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedeEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SedeEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedeBuscar_InputMessage">
    <wsdl:part name="parameters" element="tns:SedeBuscar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_SedeBuscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SedeBuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AsistenciaAdicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:AsistenciaAdicionar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_AsistenciaAdicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsistenciaAdicionarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteListar_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteListar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteAdicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteAdicionar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteAdicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteAdicionarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteActualizar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteEliminar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteBuscar_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteBuscar" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_ParticipanteBuscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipanteBuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_Validarusuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Validarusuario" />
  </wsdl:message>
  <wsdl:message name="IWCFIntranet_Validarusuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarusuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFIntranet">
    <wsdl:operation name="AlumnoListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoListar" message="tns:IWCFIntranet_AlumnoListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoListarResponse" message="tns:IWCFIntranet_AlumnoListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlumnoAdicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoAdicionar" message="tns:IWCFIntranet_AlumnoAdicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoAdicionarResponse" message="tns:IWCFIntranet_AlumnoAdicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlumnoActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoActualizar" message="tns:IWCFIntranet_AlumnoActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoActualizarResponse" message="tns:IWCFIntranet_AlumnoActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlumnoEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoEliminar" message="tns:IWCFIntranet_AlumnoEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoEliminarResponse" message="tns:IWCFIntranet_AlumnoEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlumnoBuscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoBuscar" message="tns:IWCFIntranet_AlumnoBuscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/AlumnoBuscarResponse" message="tns:IWCFIntranet_AlumnoBuscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CursoListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/CursoListar" message="tns:IWCFIntranet_CursoListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/CursoListarResponse" message="tns:IWCFIntranet_CursoListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SedesListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/SedesListar" message="tns:IWCFIntranet_SedesListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/SedesListarResponse" message="tns:IWCFIntranet_SedesListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SedeAdicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/SedeAdicionar" message="tns:IWCFIntranet_SedeAdicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/SedeAdicionarResponse" message="tns:IWCFIntranet_SedeAdicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SedeActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/SedeActualizar" message="tns:IWCFIntranet_SedeActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/SedeActualizarResponse" message="tns:IWCFIntranet_SedeActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SedeEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/SedeEliminar" message="tns:IWCFIntranet_SedeEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/SedeEliminarResponse" message="tns:IWCFIntranet_SedeEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SedeBuscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/SedeBuscar" message="tns:IWCFIntranet_SedeBuscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/SedeBuscarResponse" message="tns:IWCFIntranet_SedeBuscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsistenciaAdicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/AsistenciaAdicionar" message="tns:IWCFIntranet_AsistenciaAdicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/AsistenciaAdicionarResponse" message="tns:IWCFIntranet_AsistenciaAdicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipanteListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteListar" message="tns:IWCFIntranet_ParticipanteListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteListarResponse" message="tns:IWCFIntranet_ParticipanteListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipanteAdicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteAdicionar" message="tns:IWCFIntranet_ParticipanteAdicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteAdicionarResponse" message="tns:IWCFIntranet_ParticipanteAdicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipanteActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteActualizar" message="tns:IWCFIntranet_ParticipanteActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteActualizarResponse" message="tns:IWCFIntranet_ParticipanteActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipanteEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteEliminar" message="tns:IWCFIntranet_ParticipanteEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteEliminarResponse" message="tns:IWCFIntranet_ParticipanteEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipanteBuscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteBuscar" message="tns:IWCFIntranet_ParticipanteBuscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/ParticipanteBuscarResponse" message="tns:IWCFIntranet_ParticipanteBuscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Validarusuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFIntranet/Validarusuario" message="tns:IWCFIntranet_Validarusuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFIntranet/ValidarusuarioResponse" message="tns:IWCFIntranet_Validarusuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="WCFIntranet" />
</wsdl:definitions>