intranet/LadoCliente/intranetMVC/Service References/WCFCliente/WCFIntranet1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/intranet.entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/intranet.entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alumno" nillable="true" type="tns:Alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumno" nillable="true" type="tns:ArrayOfAlumno" />
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeMatAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePatAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAlu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Creditos" type="xs:int" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Escuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAlumno" type="xs:int" />
      <xs:element minOccurs="0" name="NomAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelAlumno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="Sala">
    <xs:sequence>
      <xs:element minOccurs="0" name="capacidad" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_creacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idsala" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_creacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_sala" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sala" nillable="true" type="tns:Sala" />
  <xs:complexType name="ArrayOfCurso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Curso" nillable="true" type="tns:Curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurso" nillable="true" type="tns:ArrayOfCurso" />
  <xs:complexType name="Curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciclo" type="xs:int" />
      <xs:element minOccurs="0" name="idcurso" type="xs:int" />
      <xs:element minOccurs="0" name="malla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrecurso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Curso" nillable="true" type="tns:Curso" />
  <xs:complexType name="ArrayOfSede">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sede" nillable="true" type="tns:Sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSede" nillable="true" type="tns:ArrayOfSede" />
  <xs:complexType name="Sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sede" nillable="true" type="tns:Sede" />
  <xs:complexType name="Asistencias">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idasistencias" type="xs:int" />
      <xs:element minOccurs="0" name="listaAsistentes" nillable="true" type="tns:ArrayOfListaAsistencias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asistencias" nillable="true" type="tns:Asistencias" />
  <xs:complexType name="ArrayOfListaAsistencias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaAsistencias" nillable="true" type="tns:ListaAsistencias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaAsistencias" nillable="true" type="tns:ArrayOfListaAsistencias" />
  <xs:complexType name="ListaAsistencias">
    <xs:sequence>
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ap_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ap_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idasistencias" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaAsistencias" nillable="true" type="tns:ListaAsistencias" />
  <xs:complexType name="ArrayOfParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participante" nillable="true" type="tns:Participante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipante" nillable="true" type="tns:ArrayOfParticipante" />
  <xs:complexType name="Participante">
    <xs:sequence>
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ap_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ap_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idparticipante" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_participante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participante" nillable="true" type="tns:Participante" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>